/*! CSS Used from: Embedded */
svg:not(:root).svg-inline--fa{overflow:visible;}
.svg-inline--fa{display:inline-block;font-size:inherit;height:1em;overflow:visible;vertical-align:-.125em;}
.svg-inline--fa.fa-w-10{width:.625em;}
.svg-inline--fa.fa-w-11{width:.6875em;}
.svg-inline--fa.fa-w-14{width:.875em;}
.svg-inline--fa.fa-w-16{width:1em;}
/*! CSS Used from: https://www.uscis.gov/sites/default/files/css/css_VFv1NHdtDe6GPoiMrZfNWu4xy5Dtn5Ek7VEssMXsXYc.css ; media=all */
@media all{
.clearfix:after{display:table;clear:both;content:"";}
.hidden{display:none;}
.visually-hidden{position:absolute!important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}
.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static!important;overflow:visible;clip:auto;width:auto;height:auto;}
.layout--twocol-section{display:flex;flex-wrap:wrap;}
.layout--twocol-section > .layout__region{flex:0 1 100%;}
@media screen and (min-width:40em){
.layout--twocol-section.layout--twocol-section--50-50 > .layout__region--first,.layout--twocol-section.layout--twocol-section--50-50 > .layout__region--second{flex:0 1 50%;}
}
.layout--fourcol-section{display:flex;flex-wrap:wrap;}
.layout--fourcol-section > .layout__region{flex:0 1 100%;}
@media screen and (min-width:40em){
.layout--fourcol-section > .layout__region{flex:0 1 25%;}
}
.layout--onecol .layout__region{width:100%;}
}
/*! CSS Used from: https://www.uscis.gov/sites/default/files/css/css_xGj_ftLDpDXd6_d1eP9y0X5FAN0gmYolQO7BYehC5Uo.css ; media=all */
#footer-wrapper{
  width: 100%;
  position: absolute;
  bottom: -500;
  left: 0;
  z-index: 1;
}

.dtph-howyouknow__lock-image{
    transform: scale(.5);
    display: inline;
}

/* #dtph-block-howyouknowdescription{display:none;padding-bottom:8px;padding-top:20px;}
.dtph-howyouknow-header-block{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
.dtph-howyouknow-header-block__icon{margin-right:16px;}
.dtph-howyouknow-header-block__icon__img{max-width:40px !important;max-height:40px;} */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  td, th {
    border: 1px solid #ebebeb;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #ebebeb;
  }

  .select__menu-list::-webkit-scrollbar{
    width: 4px;
    height: 0px;
  }
  .select__menu-list::-webkit-scrollbar-track{
    background: #f1f1f1;
  }
  .select__menu-list::-webkit-scrollbar-thumb{
    background: #888;
  }
  .select__menu-list::-webkit-scrollbar-thumb:hover{
    background: #555;
  }

  .react-select-container{
     font-family:source_sans_pro_semibold,"Source Sans Pro Semibold",Arial,sans-serif;

  }
  input#react-select-1-input { width: 1000px !important; text-align: center;}
  input#react-select-2-input { width: 1000px !important; text-align: center;}
  input#react-select-3-input { width: 1000px !important; text-align: center;}
  input#react-select-2-input { width: 1000px !important; text-align: center;}
svg:not(:root).svg-inline--fa{overflow:visible;}
.svg-inline--fa{display:inline-block;font-size:inherit;height:1em;overflow:visible;vertical-align:-.125em;}
.svg-inline--fa.fa-w-10{width:.625em;}
.svg-inline--fa.fa-w-11{width:.6875em;}
.svg-inline--fa.fa-w-14{width:.875em;}
.svg-inline--fa.fa-w-16{width:1em;}
/*! CSS Used from: https://www.uscis.gov/sites/default/files/css/css_VFv1NHdtDe6GPoiMrZfNWu4xy5Dtn5Ek7VEssMXsXYc.css ; media=all */
@media all{
.clearfix:after{display:table;clear:both;content:"";}
.hidden{display:none;}
.visually-hidden{position:absolute!important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}
.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static!important;overflow:visible;clip:auto;width:auto;height:auto;}
.layout--twocol-section{display:flex;flex-wrap:wrap;}
.layout--twocol-section > .layout__region{flex:0 1 100%;}
@media screen and (min-width:40em){
.layout--twocol-section.layout--twocol-section--50-50 > .layout__region--first,.layout--twocol-section.layout--twocol-section--50-50 > .layout__region--second{flex:0 1 50%;}
}
.layout--fourcol-section{display:flex;flex-wrap:wrap;}
.layout--fourcol-section > .layout__region{flex:0 1 100%;}
@media screen and (min-width:40em){
.layout--fourcol-section > .layout__region{flex:0 1 25%;}
}
.layout--onecol .layout__region{width:100%;}
}

#black-link{
    color: black;
    padding-top: 5px;
}

.usa-footer__secondary-section{
}

#footer-blue-margin{
    margin-bottom: 17px;
}

.usa-footer__intermediate-section{
    
}

#footer{
    background-color: #dfdfdf;
}
/*! CSS Used from: https://www.uscis.gov/sites/default/files/css/css_xGj_ftLDpDXd6_d1eP9y0X5FAN0gmYolQO7BYehC5Uo.css ; media=all */
@media all{
body{margin:0;}
article,footer,header,main,nav,section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
strong{font-weight:bold;}
img{border:0;}
svg:not(:root){overflow:hidden;}
/* button,input{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;} */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{background-color:#fff;color:#444;}
a{text-decoration:none;}
a:focus{outline-style:dotted;outline-width:1px;}
a:link{color:#069;}
a:hover{color:#00476b;text-decoration:underline;}
a.link-decorate{text-decoration:underline;}
img{height:auto;max-width:100%;}
h2{font-size:1.75rem;line-height:1.1428571429;}
h3{font-size:1.5rem;line-height:1.1666666667;}
h2,h3{margin-top:32px;}
h2,h3{margin-bottom:8px;font-weight:400;}
p{margin-top:0;margin-bottom:16px;}
[type=text]{font-size:1.25rem;line-height:1.4;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:1px solid #ccc;border-radius:3px;color:#444;display:block;height:48px;min-width:120px;opacity:1;padding-left:14px;width:100%;}
[type=text]::-ms-clear{display:none;}
[type=text]:hover,[type=text]:focus{-webkit-box-shadow:0 0 3px #036;-moz-box-shadow:0 0 3px #036;box-shadow:0 0 3px #036;border-color:#069;outline:0;}
::placeholder{color:#666;opacity:1;text-overflow:ellipsis;}
/* ::-ms-input-placeholder{color:#666;}
:-ms-input-placeholder{color:#666;} */
#block-horizontal,.content-container{margin:0 auto;width:100%;}
/* #header-first{padding:0;}
#header-first .content-container{max-width:100%;padding-left:0;padding-right:0;}
.header-third__first .content-container{padding-top:16px;padding-bottom:16px;}
.menu-toggle--header{float:right;margin-top:20px;}
#block-searchplaceholder{margin-top:16px;}
#content{padding-bottom:95px;padding-left:16px;}
.field--name-body p>.btn{margin-top:16px;margin-bottom:16px;}
.field--name-body>p:last-of-type>.btn{margin-bottom:0;}
.clearfix{clear:both;}
#home-logo{height:60px;width:200px;}
#header{margin-bottom:0;position:relative;z-index:1;}
#header-second{font-size:.75rem;line-height:1.25;background-color:#f9f9f9;height:23px;padding-bottom:32px;padding-top:4px;}
#primary-header{background-color:#f9f9f9;}
.header-third__first.menu__closed{-webkit-box-shadow:0 3px 6px rgba(0,0,0,.16);-moz-box-shadow:0 3px 6px rgba(0,0,0,.16);box-shadow:0 3px 6px rgba(0,0,0,.16);}
.header__items{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-justify-content:space-between;-moz-justify-content:space-between;-ms-justify-content:space-between;justify-content:space-between;-ms-flex-pack:space-between;}
#header-util-links{display:none;}
.header-flag-icon{height:13px;width:23px;}
#header-flag{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
#header-flag-img{margin-right:10px;padding-bottom:1px;padding-top:1px;}
#official-text{font-size:.625rem;line-height:1.3;padding-top:2px;}
#us-gov-desc{display:block;}
#us-gov-desc:visited,#us-gov-desc:hover{color:#069;}
#us-gov-desc::after{font-family:"Font Awesome 5 Pro";font-weight:900;content:"";float:right;margin-right:142px;color:#069;}
#block-howyouknowdescription{display:none;padding-bottom:8px;padding-top:16px;}
.howyouknow-header-block{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.howyouknow-header-block__icon{margin-right:16px;}
.howyouknow-header-block__icon__img{max-width:40px;max-height:40px;}
#block-mobilemenulinks{background-color:#f9f9f9;}
.mobile-menu-links{list-style:none;padding-left:0;margin-top:0;margin-bottom:0;padding-top:16px;}
.mobile-menu-links .item{margin-bottom:16px;}
.mobile-menu-links .item a{display:inline-block;width:100%;color:#444;}
.language-link:visited,.language-link:hover,.util-link:visited,.util-link:hover{color:#069;}
.menu--horizontal{list-style:none;padding-left:0;margin-top:0;margin-bottom:0;}
#primary-nav{display:none;}
.menu--horizontal .menu__item{margin:16px 0;}
.menu--horizontal .menu__item:last-child{border-bottom:none;}
.menu--horizontal .nav__link{display:inline-block;width:100%;}
.menu--horizontal .nav__link:visited,.menu--horizontal .nav__link:link{color:#036;}
.menu--horizontal .nav__link:active,.menu--horizontal .nav__link:focus{text-decoration:none;}
.sign-in-link{display:none;}
.sign-in-link :visited,.sign-in-link :link{color:#036;}
.sign-in-link :active,.sign-in-link :focus{text-decoration:none;}
.sign-in-link__mobile{margin:16px 0;}
.sign-in-link{font-size:1.125rem;line-height:1.2777777778;}
.menu-toggle__text{font-family:source_sans_pro_semibold,"Source Sans Pro Semibold",Arial,sans-serif;} */
/* #site-search .fa-search{height:21px;width:20px;}
#site-search .input-group__field::placeholder{color:#069;text-overflow:ellipsis;}
#site-search .input-group__field::-ms-input-placeholder{color:#069;}
#site-search .input-group__field:-ms-input-placeholder{color:#069;} */
/* #site-search .input-group__field{font-size:1rem;line-height:1.25;height:44px;border-radius:2px;border:none;background-color:#f9f9f9;padding-right:38px;} */
/* .menu-toggle--header .menu-toggle__text{margin-left:8px;}
.menu-toggle--header .svg-inline--fa{font-size:1.25rem;line-height:1.4;} */
#header .menu-toggle__link-horizontal{border-radius:0;min-width:1px;max-width:504px;padding:0 16px;height:23px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-family:source_sans_pro_regular,"Source Sans Pro",Arial,sans-serif;font-weight:400;font-size:1.125rem;line-height:1.2777777778;background-color:transparent;border:none;color:#036;opacity:1;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.node a.btn--anchor{text-decoration:none;}
.node a{text-decoration:underline;}
#page-content a:not(.btn):focus{background-color:#e6f5fd;color:#00476b;text-decoration:underline;outline-style:none;}
#page-content a:not(.btn):hover{color:#00476b;text-decoration:underline;}
/* .btn,button,[type=button],[type=submit]{border-radius:3px;min-width:154px;max-width:100%;padding:11px 13px;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-family:source_sans_pro_semibold,"Source Sans Pro Semibold",Arial,sans-serif;font-weight:600;font-size:1rem;line-height:1.25;background-color:#069;border:3px solid;border-color:#069;color:#fff;cursor:pointer;opacity:1;}
.btn:focus,button:focus,[type=button]:focus,[type=submit]:focus{background-color:#00476b;border-color:#1d89bf;outline:none;}
.btn:hover,button:hover,[type=button]:hover,[type=submit]:hover{-webkit-box-shadow:0 0 2px rgba(0,0,0,.12),0 0 4px rgba(0,0,0,.24);-moz-box-shadow:0 0 2px rgba(0,0,0,.12),0 0 4px rgba(0,0,0,.24);box-shadow:0 0 2px rgba(0,0,0,.12),0 0 4px rgba(0,0,0,.24);background-color:#00476b;border-color:#00476b;}
.btn{display:inline-block;}
.btn--anchor{text-align:center;}
.btn--anchor:hover{text-decoration:none;}
.btn--anchor:visited,.btn--anchor:link{color:#fff;}
.btn--search-submit{padding:0;color:#069;}
.btn--search-submit:focus{outline:1px dotted #1d89bf;} */
/* .input-group{position:relative;}
.input-group__btn--icon{position:absolute;top:12px;right:10px;white-space:nowrap;}
.input-group__btn--icon .btn-icon{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background-color:transparent;border:none;height:auto;min-width:1px;} */
.region-content ul{margin-top:0;margin-bottom:16px;margin-left:24px;padding-left:8px;}
.region-content li{margin-bottom:8px;padding-left:0;}
/* #header-third,.container{background-color:#fff;} */
.container--front{background-color:transparent;}
.modal{display:none;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,.3);}
.modal button#modal-button.close:focus{border-color:#1d89bf;outline:solid;outline-offset:1px;}
.modal .close{float:right;max-width:20px;min-width:20px;height:20px;padding:0;border:none;background-color:#fff;color:#069;}
.modal .modal-content{background-color:#fff;margin:0 auto;padding:16px;border-radius:3px;box-shadow:0px 1px 6px #00000029;}
.modal .modal-content .modal-title{font-size:20px;margin-bottom:16px;}
@media (min-width:861px){
.modal .modal-content{margin:5% auto;max-width:502px;}
}
.font-ssp-semibold{font-family:source_sans_pro_semibold,"Source Sans Pro Semibold",Arial,sans-serif;font-weight:600;}
.inline-sep{border-right:1px solid #ccc;}
.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
#usasearch_sayt .ui-widget-content{border-color:#ccc!important;border-radius:0!important;color:inherit!important;}
#usasearch_sayt .ui-widget{font-family:inherit!important;font-size:inherit!important;}
@media (max-width:1025px){
#block-horizontal,#block-mobilemenulinks .field__item,.content-container{padding-right:16px;padding-left:16px;}
#content{padding-right:16px;}
#content-wrapper .content-container{padding-left:0;padding-right:0;}
}
@media (min-width:601px){
.btn,button,[type=button],[type=submit]{max-width:504px;width:auto;}
/* #header-second{padding-bottom:4px;padding-top:4px;} */
#block-howyouknowdescription{padding-top:20px;}
#official-text{font-size:.75rem;line-height:1.25;padding-top:0;}
#us-gov-desc{display:inline;}
#us-gov-desc::after{margin-right:-16px;}
#content .container--main{overflow:hidden;}
}
@media (min-width:861px){
body{background-color:#f9f9f9;}
/* .main-content-wrapper{display:-ms-grid;-ms-grid-columns:(1fr)[12];display:grid;grid-column-gap:20px;grid-template-columns:repeat(12,1fr);} */
#content.one-col{-ms-grid-column:1;-ms-grid-column-span:12;grid-column:1/13;max-width:1024px;}
#content{padding-bottom:128px;padding-left:0;}
#content-wrapper{background-image:linear-gradient(to right,#F3F3F3 50%,#FFF 50%);}
#content-wrapper.one-col{background-image:none;background-color:#f3f3f3;}
#block-uscis-design-branding{position:relative;top:13px;}
#block-horizontal,.content-container{max-width:1024px;}
.one-col .region-content{padding:20px;}
.container--front .region-content{padding:20px 0;}
#block-mobilemenulinks{display:none;}
/* #site-search,.region-header_second_right{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;} */
/* .region-header_third_first{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-justify-content:space-between;-moz-justify-content:space-between;-ms-justify-content:space-between;justify-content:space-between;-ms-flex-pack:space-between;}
.header-third__first .content-container{padding-top:0;padding-bottom:0;}
#block-searchplaceholder{margin-top:0;}
.sign-in-link{position:relative;color:#036;}
.sign-in-link .svg-inline--fa{margin-top:3px;}
.sign-in--drop-down__toggle{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;cursor:pointer;}
.sign-in--button{margin-right:8px;}
.sign-in--drop-down{position:absolute;top:45px;right:0;width:192px;z-index:1;background-color:#fff;box-shadow:0px 1px 5px #0000001F;}
.sign-in__menu-header{color:#444;padding:12px 16px 16px 16px;border-bottom:1px solid #ebebeb;}
.sign-in-links{margin:6px 0 0 0;padding:0;}
.sign-in__menu-item{list-style:none;padding-bottom:6px;}
.sign-in__menu-item :hover{background-color:#e6f5fd;}
.sign-in__menu-item :focus{background-color:#e6f5fd;border:3px solid #1d89bf;}
.sign-in__menu-item a{display:inline-block;width:100%;padding:5px 16px 5px 16px;}
.sign-in__menu-item a:hover{text-shadow:.5px 0 0 #00476b;text-decoration:none;}
.sign-in__menu-item a:visited,.sign-in__menu-item a:link{color:#069;} */
/* #header-third{-webkit-box-shadow:0 3px 6px rgba(0,0,0,.16);-moz-box-shadow:0 3px 6px rgba(0,0,0,.16);box-shadow:0 3px 6px rgba(0,0,0,.16);height:127px;padding-bottom:20px;padding-top:20px;}
.header-third__first{height:64px;}
.header-third__first.menu__closed{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;} */
#alt-lang-link{margin-right:12px;}
/* #header-util-links{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
#header-util-links .util-link{margin-right:12px;}
#header-util-links .util-link.last{margin-left:12px;margin-right:0;} */
/* #block-howyouknowdescription .field--name-body{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
#howyouknow-official{margin-right:24px;}
.howyouknow-header-block{-webkit-flex-basis:50%;-moz-flex-basis:50%;-ms-flex-basis:50%;flex-basis:50%;}
.menu--horizontal{font-size:1.125rem;line-height:1.2777777778;text-align:right;}
.menu--horizontal a:hover{text-shadow:.5px 0 0 #00476b;text-decoration:none;}
.menu--horizontal a:visited,.menu--horizontal a:link{color:#036;}
.menu--horizontal .menu__item{display:inline;margin-left:32px;border-bottom:none;}
.menu--horizontal .nav__link{width:auto;}
.menu--horizontal .nav__link:focus{outline:none;border-radius:1px;-webkit-box-shadow:0 0 0 3px #1d89bf;-moz-box-shadow:0 0 0 3px #1d89bf;box-shadow:0 0 0 3px #1d89bf;}
#primary-nav{display:block;}
#block-signinlink{display:none;}
.content-container.header-third__second{border-bottom:none;}
#block-searchplaceholder .sign-in-link{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;height:44px;padding-top:10px;}
#block-searchplaceholder .sign-in-link__sep{height:24px;margin-left:32px;margin-right:32px;}
#block-searchplaceholder .sign-in--button__text:focus{outline:none;border-radius:1px;-webkit-box-shadow:0 0 0 3px #1d89bf;-moz-box-shadow:0 0 0 3px #1d89bf;box-shadow:0 0 0 3px #1d89bf;} */
/* #site-search .input-group__field{width:353px;} */
.menu-toggle--header{display:none;}
.hidden-desktop{display:none;}
#usasearch_sayt .ui-menu{width:353px!important;}
}
.grid-container{margin-left:auto;margin-right:auto;max-width:64rem;padding-left:1rem;padding-right:1rem;}
@media all and (min-width:64em){
.grid-container{padding-left:2rem;padding-right:2rem;}
}
.grid-row{display:flex;flex-wrap:wrap;}
.grid-row.grid-gap{margin-left:-0.5rem;margin-right:-0.5rem;}
.grid-row.grid-gap>*{padding-left:.5rem;padding-right:.5rem;}
@media all and (min-width:64em){
.grid-row.grid-gap{margin-left:-1rem;margin-right:-1rem;}
.grid-row.grid-gap>*{padding-left:1rem;padding-right:1rem;}
}
.grid-row.grid-gap-1{margin-left:-0.25rem;margin-right:-0.25rem;}
.grid-row.grid-gap-1>*{padding-left:.25rem;padding-right:.25rem;}
@media all and (min-width:30em){
.grid-row.mobile-lg\:grid-gap-2{margin-left:-0.5rem;margin-right:-0.5rem;}
.grid-row.mobile-lg\:grid-gap-2>*{padding-left:.5rem;padding-right:.5rem;}
}
[class*=grid-col]{position:relative;width:100%;box-sizing:border-box;}
.grid-col-auto{flex:0 1 auto;width:auto;max-width:100%;}
.grid-col-3{flex:0 1 auto;width:25%;}
.grid-col-9{flex:0 1 auto;width:75%;}
@media all and (min-width:30em){
.mobile-lg\:grid-col-auto{flex:0 1 auto;width:auto;max-width:100%;}
.mobile-lg\:grid-col-4{flex:0 1 auto;width:33.3333333333%;}
.mobile-lg\:grid-col-6{flex:0 1 auto;width:50%;}
.mobile-lg\:grid-col-12{flex:0 1 auto;width:100%;}
}
@media all and (min-width:64em){
.desktop\:grid-col-auto{flex:0 1 auto;width:auto;max-width:100%;}
}
.usa-footer{font-family:Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;font-size:1.06rem;line-height:1.5;overflow:hidden;}
.usa-footer>.grid-container{margin-left:auto;margin-right:auto;max-width:64rem;padding-left:1rem;padding-right:1rem;}
@media all and (min-width:64em){
.usa-footer>.grid-container{padding-left:2rem;padding-right:2rem;}
}
.usa-footer__return-to-top{padding-bottom:1.25rem;padding-top:1.25rem;line-height:.9;}
.usa-footer__return-to-top a{color:#005ea2;text-decoration:underline;}
.usa-footer__return-to-top a:visited{color:#54278f;}
.usa-footer__return-to-top a:hover{color:#1a4480;}
.usa-footer__return-to-top a:active{color:#162e51;}
.usa-footer__return-to-top a:focus{outline:.25rem solid #2491ff;outline-offset:0;}
.usa-footer__nav{margin-left:auto;margin-right:auto;max-width:64rem;padding-left:1rem;padding-right:1rem;padding-left:0;padding-right:0;border-bottom:1px solid #a9aeb1;}
@media all and (min-width:64em){
.usa-footer__nav{padding-left:2rem;padding-right:2rem;}
}
@media all and (min-width:30em){
.usa-footer__nav{padding-left:1rem;padding-right:1rem;border-bottom:none;}
}
@media all and (min-width:30em)and (min-width:64em){
.usa-footer__nav{padding-left:2rem;padding-right:2rem;}
}
.usa-footer__nav>ul{margin-bottom:0;margin-top:0;list-style-type:none;padding-left:0;}
.usa-footer__primary-section{background-color:#f0f0f0;}
.usa-footer__primary-section>.grid-container{margin-left:auto;margin-right:auto;max-width:64rem;padding-left:1rem;padding-right:1rem;}
@media all and (min-width:64em){
.usa-footer__primary-section>.grid-container{padding-left:2rem;padding-right:2rem;}
}
.usa-footer__primary-content{line-height:1.1;}
.usa-footer__primary-link{padding-left:1rem;padding-right:1rem;padding-bottom:1rem;padding-top:1rem;color:#1b1b1b;text-decoration:none;font-weight:700;display:block;}
@media all and (min-width:30em){
.usa-footer__primary-link{padding-left:0;padding-right:0; margin-top: -4px;}
}
.usa-footer__primary-link:hover{cursor:pointer;text-decoration:underline;}
.usa-footer__contact-info{line-height:1.1;}
@media all and (min-width:30em){
.usa-footer__contact-info{justify-content:flex-end;margin-top:.5rem;}
}
.usa-footer__primary-content{border-top:1px solid #a9aeb1;}
@media all and (min-width:30em){
.usa-footer__primary-content{border:none;}
}
.usa-footer__secondary-section{padding-bottom:1.25rem;padding-top:1.25rem;color:#1b1b1b;background-color:#dfe1e2;}
.usa-footer__secondary-section>.grid-container{margin-left:auto;margin-right:auto;max-width:64rem;padding-left:1rem;padding-right:1rem;}
@media all and (min-width:64em){
.usa-footer__secondary-section>.grid-container{padding-left:2rem;padding-right:2rem;}
}
.usa-footer__secondary-section a{color:#1b1b1b;}
.usa-footer__logo{margin-bottom:.5rem;margin-top:.5rem;}
@media all and (min-width:30em){
.usa-footer__logo{margin-bottom:0;margin-top:0;align-items:center;}
}
.usa-footer__logo-img{max-width:5rem;}
.usa-footer__contact-links{margin-top:1.5rem;}
@media all and (min-width:30em){
.usa-footer__contact-links{margin-top:0;text-align:right;}
}
.usa-footer__contact-heading{font-family:Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;font-size:1.46rem;line-height:1.1;margin-top:0;}
@media all and (min-width:30em){
.usa-footer__contact-heading{margin-bottom:.25rem;margin-top:.25rem;}
}
.usa-footer__social-links{line-height:.9;padding-bottom:.5rem;}
.usa-footer__social-links a{text-decoration:none;}
@media all and (min-width:30em){
.usa-footer__social-links{justify-content:flex-end;}
}
.usa-social-link{height:3rem;width:3rem;background-color:rgba(0,0,0,.1);display:inline-block;}
.usa-social-link__icon{background-position:center center;background-size:auto 2rem;display:inline-block;height:inherit;width:inherit;}
.usa-social-link__icon--facebook{background-image:url(https://www.uscis.gov/profiles/uscisd8_gov/themes/custom/uscis_design/assets/img/usa-icons/facebook.svg),linear-gradient(transparent,transparent);background-repeat:no-repeat;}
.usa-social-link__icon--twitter{background-image:url(https://www.uscis.gov/profiles/uscisd8_gov/themes/custom/uscis_design/assets/img/usa-icons/twitter.svg),linear-gradient(transparent,transparent);background-repeat:no-repeat;}
.usa-social-link__icon--youtube{background-image:url(https://www.uscis.gov/profiles/uscisd8_gov/themes/custom/uscis_design/assets/img/usa-icons/youtube.svg),linear-gradient(transparent,transparent);background-repeat:no-repeat;}
.usa-social-link__icon--instagram{background-image:url(https://www.uscis.gov/profiles/uscisd8_gov/themes/custom/uscis_design/assets/img/usa-icons/instagram.svg),linear-gradient(transparent,transparent);background-repeat:no-repeat;}
@media all and (min-width:30em){
.usa-footer__address{justify-content:flex-end;}
}
.usa-identifier__container{margin-left:auto;margin-right:auto;max-width:64rem;padding-left:1rem;padding-right:1rem;max-width:64rem;}
@media all and (min-width:64em){
.usa-identifier__container{padding-left:2rem;padding-right:2rem;}
}
.usa-identifier__section{padding-bottom:1rem;padding-top:1rem;}
@media all and (min-width:40em){
.usa-identifier__section--masthead .usa-identifier__container{align-items:center;display:flex;}
}
.usa-identifier__logos{display:flex;margin-right:1rem;}
.usa-identifier__logo{text-decoration:none;height:3rem;display:block;}
.usa-identifier__logo-img{height:100%;width:auto;}
.usa-identifier__identity{flex:1 1 0%;margin-top:1rem;}
@media all and (min-width:40em){
.usa-identifier__identity{margin-top:0;}
}
.usa-identifier__identity-domain,.usa-identifier__identity-disclaimer{margin:0;padding:0;}
.usa-identifier__identity-domain{color:#a9aeb1;}
.usa-identifier__identity-disclaimer{font-weight:700;}
.usa-identifier__identity-disclaimer a{color:#dfe1e2;}
.usa-identifier__identity-disclaimer a:visited{color:#dfe1e2;}
.usa-identifier__identity-disclaimer a:hover,.usa-identifier__identity-disclaimer a:active{color:#f0f0f0;}
@media all and (min-width:40em){
.usa-identifier__section--required-links{padding-bottom:.5rem;padding-top:.5rem;}
}
@media all and (min-width:64em){
.usa-identifier__section--required-links{font-size:1rem;}
}
.usa-identifier__required-links-list{margin-bottom:0;margin-top:0;list-style-type:none;padding-left:0;margin-bottom:0;margin-top:0;}
@media all and (min-width:40em){
.usa-identifier__required-links-list{column-count:2;column-gap:2rem;column-fill:balance;}
}
@media all and (min-width:64em){
.usa-identifier__required-links-list{column-count:4;}
}
.usa-identifier__required-links-item{break-inside:avoid;margin-bottom:.75rem;}
.usa-identifier__required-links-item:last-child{margin-bottom:0;}
@media all and (min-width:64em){
.usa-identifier__required-links-item{margin-bottom:.5rem;}
}
.usa-identifier__required-link{color:#a9aeb1;display:inline-block;}
.usa-identifier__required-link:visited{color:#a9aeb1;}
.usa-identifier__required-link:hover,.usa-identifier__required-link:active{color:#dfe1e2;}
.usa-identifier__section--usagov a{color:#dfe1e2;font-weight:700;display:inline-block;margin-top:.5rem;}
.usa-identifier__section--usagov a:visited{color:#dfe1e2;}
.usa-identifier__section--usagov a:hover,.usa-identifier__section--usagov a:active{color:#f0f0f0;}
@media all and (min-width:40em){
.usa-identifier__section--usagov a{margin-top:0;}
}
@media all and (min-width:40em){
.usa-identifier__usagov-description{display:inline-flex;}
}
footer .grid-col-3{width:24%;}
footer .usa-footer__primary-section{background-color:#edeeee;}
footer .usa-footer__primary-section .mobile-lg\:grid-col-12{padding:0;}
footer .usa-footer__intermediate-section{padding-bottom:1rem;padding-top:1.25rem;background-color:#dedfe0;}
footer .usa-footer__secondary-section{background-color:#005288;color:#e6e6e6;}
footer .usa-footer__secondary-section a,footer .usa-footer__secondary-section a:visited{color:#e6e6e6;}
footer .usa-footer__secondary-section a:visited:hover,footer .usa-footer__secondary-section a:hover{color:#fff;}
footer .usa-footer__secondary-section .usa-identifier__container{padding:0 2rem;display:flex;}
footer .usa-footer__secondary-section .usa-identifier__container .usa-identifier__logos{display:flex;margin-right:1rem;}
footer .usa-footer__secondary-section .usa-identifier__container .usa-identifier__logos .usa-identifier__logo{text-decoration:none;height:3rem;display:block;}
footer .usa-footer__secondary-section .usa-identifier__container .usa-identifier__logos .usa-identifier__logo img{height:100%;}
footer .usa-footer__secondary-section .usa-identifier__container .usa-identifier__identity{flex:1 1 0;}
footer .usa-footer__secondary-section .usa-identifier__container .usa-identifier__identity .usa-identifier__identity-disclaimer{font-weight:700;}
footer .usa-footer__secondary-section .usa-identifier__container .usa-identifier__identity-disclaimer,footer .usa-footer__secondary-section .usa-identifier__container .usa-identifier__identity-domain{margin:0;padding:0;color:#fff;}
footer .usa-footer__secondary-section .usa-identifier__container .usa-identifier__usagov-description{display:inline-flex;}
footer .usa-footer__secondary-section .usa-identifier__section--usagov a{color:#e6e6e6;font-weight:700;display:inline-block;margin-left:.25rem;}
.usa-identifier__container .usa-identifier__required-link,.usa-identifier__container .usa-identifier__required-link:visited{color:#c0c2c4;}
nav.usa-footer__nav{padding:0;}
.usa-footer__logo{min-width:50%;}
.usa-footer__logo .usa-footer__logo-img{max-width:300px;width:291px;}
.usa-social-link__icon--facebook{background-image:url("https://www.uscis.gov/themes/contrib/dhs_uswds/assets/img/usa-icons/facebook.svg"),linear-gradient(transparent,transparent);background-repeat:no-repeat;}
.usa-social-link__icon--twitter{background-image:url("https://www.uscis.gov/themes/contrib/dhs_uswds/assets/img/usa-icons/twitter.svg"),linear-gradient(transparent,transparent);background-repeat:no-repeat;}
.usa-social-link__icon--youtube{background-image:url("https://www.uscis.gov/themes/contrib/dhs_uswds/assets/img/usa-icons/youtube.svg"),linear-gradient(transparent,transparent);background-repeat:no-repeat;}
.usa-social-link__icon--instagram{background-image:url("https://www.uscis.gov/themes/contrib/dhs_uswds/assets/img/usa-icons/instagram.svg"),linear-gradient(transparent,transparent);background-repeat:no-repeat;}
.usa-social-link__icon--linkedin{background-image:url("https://www.uscis.gov/themes/contrib/dhs_uswds/assets/img/../../img/social-icons/linkedin.svg"),linear-gradient(transparent,transparent);background-repeat:no-repeat;}
.usa-social-link__icon--email{background-image:url("https://www.uscis.gov/themes/contrib/dhs_uswds/assets/img/usa-icons/mail.svg"),linear-gradient(transparent,transparent);background-repeat:no-repeat;}
.usa-footer__intermediate-section a{color:#1b1b1b;}
@media screen and (max-width:1023px){
.usa-footer{width:100%;}
}
@media screen and (max-width:710px){
.usa-footer__intermediate-section .usa-footer__logo,.usa-footer__intermediate-section .usa-footer__contact-links{width:100%;max-width:100%;padding-left:2rem;padding-right:2rem;}
.usa-footer__intermediate-section .usa-footer__logo{margin-bottom:1rem;}
.usa-identifier__section--usagov{display:none;}
.usa-footer__secondary-section [class*=grid-col-]{width:100%;}
.usa-footer__secondary-section .grid-col-3.ntas-widget{text-align:center;}
.usa-footer__contact-links{text-align:left;}
.usa-footer__contact-links .usa-footer__social-links,.usa-footer__contact-links .usa-footer__contact-info{justify-content:flex-start;}
}
@media all and (max-width:39.99em){
.usa-identifier__container{flex-direction:column;}
.usa-identifier__section--masthead{max-width:75%;}
}
.usa-identifier__required-link,.usa-link{text-decoration:underline;}
.usa-footer__return-to-top a,.usa-footer__intermediate-section .usa-footer__contact-heading a{color:#069;}
address{font-style:normal;}
.usa-footer{font-family:source_sans_pro_regular,"Source Sans Pro",Arial,sans-serif;font-weight:400;}
.usa-footer .ntas-widget{text-align:center;}
.usa-footer-container a{color:#005ea2;text-decoration:underline;}
.usa-footer-container a:visited{color:#54278f;}
.usa-footer-container a:hover{color:#1a4480;}
.usa-footer-container a:active{color:#162e51;}
.usa-footer-container a:focus{outline:.25rem solid #2491ff;outline-offset:0;}
.usa-footer__nav a{text-decoration:none;}
.usa-footer__nav .usa-footer__primary-content{padding-left:0;padding-right:0;}
.usa-footer__primary-link:link{color:#1b1b1b; margin-top: 15px;}
.usa-footer__intermediate-section{color:#080808;}
.usa-footer__intermediate-section .usa-footer__contact-heading{font-weight:bold;}
.usa-identifier__required-links-list{padding-top:1.25rem;}
.usa-identifier__section{padding-top:0;}
.usa-footer .usa-footer__secondary-section .usa-identifier__container{padding-left:1rem;padding-right:1rem;}
.usa-identifier__section--usagov{display:none;}
@media all and (min-width:30em){
.usa-footer__nav .usa-footer__primary-content{padding-left:1rem;padding-right:1rem;}
}
@media screen and (max-width:710px){
.usa-footer__intermediate-section .usa-footer__logo,.usa-footer__intermediate-section .usa-footer__contact-links{padding-left:.5rem;padding-right:.5rem;}
}
@media (min-width:64rem){
.usa-footer__nav .menu__item:first-of-type{padding-left:0;}
.usa-footer .grid-container{padding-left:0;padding-right:0;}
.usa-footer__primary-section .grid-row.grid-gap{margin-left:0;margin-right:0;}
.usa-footer__secondary-section .grid-container{padding-right:0;}
.usa-footer .usa-footer__secondary-section .usa-identifier__container{padding-left:2rem;padding-right:2rem;}
.usa-identifier__required-links-list{column-count:3;}
}
#header-first{background-color:transparent;}
#preview-message{padding:3px 16px;background-color:#ebebeb;color:#444;text-align:center;font-size:.875rem;line-height:1.4285714286;}
/* .region-header_first .special-msg{text-align:center;padding-top:6px;padding-bottom:6px;background-color:#c33;color:#fff;}
.region-header_first .special-msg a{color:#fff;text-decoration:underline;} */
.main-content-wrapper,.container--main,body{background-color:#f3f3f3;}
.homepage-field-heading{margin-top:8px;margin-bottom:16px;padding-left:8px;letter-spacing:0;}
.homepage-top-card{font-family:source_sans_pro_light,"Source Sans Pro Light",Arial,sans-serif;letter-spacing:0;opacity:1;}
.homepage-top-card .homepage-field-heading{display:none;padding-left:8px;margin-top:8px;font-size:2rem;line-height:1.25;font-family:source_sans_pro_light,"Source Sans Pro Light",Arial,sans-serif;}
.homepage-top-card .homepage-field-heading.mobile-header{display:block;}
.homepage-top-card .field--name-body{font-size:1.5rem;line-height:1.2916666667;}
.homepage-top-card .field--name-body .btn{margin-top:16px;}
.layout>.layout__region{background-color:#fff;margin-bottom:20px;box-shadow:0px 1px 2px #00000029;opacity:1;padding:8px;}
.layout>.layout__region ul{margin-bottom:0;}
.layout>.layout__region img{width:100%;margin-bottom:16px;}
.layout>.layout__region li{padding-left:0;margin-bottom:0;}
.layout>.layout__region .block--type-homepage-card-content-right.homepage-top-card{margin-bottom:-4px;}
.layout>.layout__region .form-icon::before{float:left;margin-right:8px;font-family:"Font Awesome 5 Pro";font-weight:400;content:"";color:#069;}
.layout--onecol .layout__region{display:flex;flex-flow:column-reverse;}
.layout--fourcol-section .layout__region .homepage-field-heading{font-size:1.25rem;line-height:1.4;}
.layout--fourcol-section .layout__region .spacer{height:32px;}
.layout--fourcol-section .layout__region .field--name-field-learn-more-link{position:absolute;bottom:0;padding-bottom:16px;padding-left:8px;}
.layout--onecol,.layout--fourcol-section,.layout--twocol-section--50-50{display:block;}
.layout--onecol .layout__region,.layout--fourcol-section .layout__region,.layout--twocol-section--50-50 .layout__region{position:relative;}
.layout--onecol .layout__region .field--name-body,.layout--fourcol-section .layout__region .field--name-body,.layout--twocol-section--50-50 .layout__region .field--name-body{padding:0 8px 8px 8px;}
@media (min-width:601px)and (max-width:861px){
.layout.layout--fourcol-section{display:flex;}
.layout.layout--fourcol-section .layout__region{flex:0 1 48%;}
.layout.layout--fourcol-section .layout__region--first,.layout.layout--fourcol-section .layout__region--third{margin-right:4%;}
}
@media (max-width:360px){
.layout.layout--fourcol-section{display:block;}
.layout.layout--fourcol-section .layout__region{margin-right:0;}
.layout.layout--fourcol-section .homepage-field-heading{font-size:1.75rem;line-height:1.1428571429;}
}
@media (min-width:861px){
.layout.layout--onecol>.layout__region--content{display:flex;flex-flow:row;}
.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-left,.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-right{flex:0 0 50%;}
.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-right .field--name-field-media{height:100%;}
.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-right .field--name-field-media div{height:100%;}
.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-right .homepage-field-heading.mobile-header{display:none;}
.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-right .field--name-field-media-image{height:100%;padding-bottom:4px;}
.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-right .field--name-field-media-image img{margin-bottom:0;object-fit:cover;height:100%;}
.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-left.homepage-top-card{padding:0 32px 0 24px;}
.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-left.homepage-top-card .homepage-field-heading{display:block;margin:24px 0 16px 0;padding-left:0;font-size:2.5rem;line-height:1.2;}
.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-left.homepage-top-card .field--name-body{padding:0;}
.layout.layout--onecol>.layout__region--content .block--type-homepage-card-content-left{display:block;flex:100%;background-position:right;background-repeat:no-repeat;background-size:50%;}
.layout.layout--twocol-section.layout--twocol-section--50-50{display:flex;width:100%;}
.layout.layout--twocol-section.layout--twocol-section--50-50>.layout__region--first,.layout.layout--twocol-section.layout--twocol-section--50-50 .layout__region--second{flex:1;}
.layout.layout--twocol-section.layout--twocol-section--50-50 .layout__region--first{margin-right:20px;}
.layout.layout--fourcol-section{display:flex;flex-wrap:nowrap;}
.layout.layout--fourcol-section [class*=layout__region-]{margin-right:20px!important;}
.layout.layout--fourcol-section [class*=layout__region-] .spacer{height:16px;}
.layout.layout--fourcol-section .layout__region.layout__region--fourth{margin-right:0!important;}
}
.region.region-content{padding:16px 0 20px 0;}
#announcement-ribbon{margin-bottom:16px;}
.ribbon-heading:nth-child(1n+2){display:none;}
.ribbon-description a{text-decoration:underline;}
#ribbon-header-container{background-color:#036;padding:8px 8px 12px 8px;}
#ribbon-header-container .ribbon-heading{padding-bottom:4px;color:#fff;}
#ribbon-header-container .ribbon-heading .ribbon-heading-text{display:flex;cursor:pointer;align-items:center;}
#ribbon-header-container .ribbon-heading .ribbon-heading-text .fa-sort-down{display:none;}
#ribbon-header-container #ribbon-dots-container{text-align:center;margin-right:8px;}
#ribbon-header-container #ribbon-dots-container .ribbon-dot{cursor:pointer;height:8px;width:8px;background-color:#036;border:solid 1px #fff;border-radius:50%;display:inline-block;transition:background-color .6s ease;}
#ribbon-header-container #ribbon-dots-container .ribbon-dot.active{background-color:#fff;border:.3px #036 solid;}
#ribbon-header-container #ribbon-dots-container .ribbon-dot:focus{border:1px #6698ff solid;}
.ribbon-description-container{display:none;padding:16px;background:#fff;box-shadow:0px 1px 2px #00000029;opacity:1;position:relative;width:100%;}
.ribbon-description-container .ribbon-image{display:none;}
.ribbon-description-container .field--name-field-announcement-description{margin-bottom:32px;}
.ribbon-description-container .ribbon-close-box{float:right;cursor:pointer;color:#069;}
.ribbon-description-container .ribbon-close-box:focus{outline:1px dotted #069;}
@media (min-width:601px){
#ribbon-header-container{display:flex;padding:8px;align-items:center;}
#ribbon-header-container .ribbon-heading{flex:1;padding-bottom:0;}
#ribbon-header-container .ribbon-heading .ribbon-heading-text .fa-sort-down{display:block;}
#ribbon-header-container .ribbon-heading .ribbon-heading-text .fa-sort-down{margin:0 16px 8px 8px;}
}
@media (max-width:861px){
#announcement-ribbon{margin-top:16px;}
}
@media (min-width:861px){
.ribbon-description-container{flex-flow:row;}
.ribbon-description-container .ribbon-image{flex:1;display:inline;margin-right:16px;}
.ribbon-description-container .ribbon-description{flex:4;}
.ribbon-description-container .ribbon-description .ribbon-close-box{bottom:0;padding:16px;position:absolute;right:0;}
}

/*! CSS Used from: https://www.uscis.gov/sites/default/files/css/css_CzQ6gJUtS_Mg2vNBasOgXL8mFWyW6wCFYQ0nG3GDAsk.css ; media=print */
@media print{
@media print{
/* button.menu-toggle__link-horizontal,.input-group,#footer,#header-flag,.region-header_second_right{display:none!important;} */
}
.btn,button,[type=button],[type=submit]{background-color:#fff;border-color:#cbcbcb;color:#cbcbcb;}
.header-third__first.menu__closed{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
}
/*! CSS Used from: https://www.uscis.gov/sites/default/files/css/css_qGHF3YcGE_DobKJ4GCbfLbEXFNmg4weIWyTXnFOsPZU.css ; media=all */
@media all{
.layout>.layout__region .outreach-list li{margin-bottom:16px;}
}
/*! CSS Used from: https://search.usa.gov/assets/sayt.css ; media=screen */
@media screen{
/* #usasearch_sayt .ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em;}
#usasearch_sayt .ui-widget-content{border:1px solid #aaa;background:white url(https://search.usa.gov/assets/legacy/sayt/ui-bg_flat_75_ffffff_40x100-39ab7ccd9f4e82579da78a9241265df288d8eb65dbbd7cf48aed2d0129887df5.png) 50% 50% repeat-x;color:#222;}
#usasearch_sayt .ui-autocomplete{position:absolute;cursor:default;}
#usasearch_sayt .ui-menu{list-style:none;padding:2px;margin:0;display:block;float:left;}
#usasearch_sayt .ui-autocomplete{text-align:left;font-weight:bold;font-size:smaller;} */
}
}
@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:900;font-display:auto;src:url("../styles/fonts/fa-solid-900.otf")format("opentype");}
@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:400;font-display:auto;src:url("../styles/fonts/fa-regular-400.otf")format("opentype");}
@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:300;font-display:auto;src:url("../styles/fonts/fa-light-300.otf")format("opentype");}
@font-face{font-family:Source Sans Pro Light;font-style:normal;font-weight:300;src:url("../styles/fonts/sourcesanspro-light.otf") format("opentype");}
@font-face{font-family:"Source Sans Pro";font-style:normal;font-weight:600;src:url("../styles/fonts/sourcesanspro-semibold.otf") format("opentype"),url("../styles/fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"),url("../styles/fonts/sourcesanspro-semibold-webfont.woff") format("woff"),url("../styles/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"),url("../styles/fonts/sourcesanspro-semibold-webfont.eot"),url("../styles/fonts/sourcesanspro-semibold-webfont.eot#iefix") format("embedded-opentype");}
@font-face{font-family:"Source Sans Pro";font-style:italic;font-weight:600;src:url("../styles/fonts/sourcesanspro-semiboldit.otf") format("opentype"),url("../styles/fonts/sourcesanspro-semiboldit-webfont.ttf") format("truetype"),url("../styles/fonts/sourcesanspro-semiboldit-webfont.woff") format("woff"),url("../styles/fonts/sourcesanspro-semiboldit-webfont.woff2") format("woff2"),url("../styles/fonts/sourcesanspro-semiboldit-webfont.eot#iefix") format("embedded-opentype");}
@font-face{font-family:"Source Sans Pro";font-style:normal;font-weight:400;src:url("../styles/fonts/sourcesanspro-regular.otf") format("opentype"),url("../styles/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),url("../styles/fonts/sourcesanspro-regular-webfont.eot"),url("../styles/fonts/sourcesanspro-regular-webfont.eot#iefix") format("embedded-opentype");}
@font-face{font-family:"Source Sans Pro";font-style:italic;font-weight:400;src:url("../styles/fonts/sourcesanspro-it.otf") format("opentype"),url("../styles/fonts/sourcesanspro-it-webfont.eot"),url("../styles/fonts/sourcesanspro-it-webfont.eot#iefix") format("embedded-opentype");}
@font-face{font-family:"Source Sans Pro";font-style:normal;font-weight:700;src:url("../styles/fonts/sourcesanspro-bold.otf") format("opentype"),url("../styles/fonts/sourcesanspro-bold-webfont.ttf") format("truetype"),url("../styles/fonts/sourcesanspro-bold-webfont.woff") format("woff"),url("../styles/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),url("../styles/fonts/sourcesanspro-bold-webfont.eot"),url("../styles/fonts/sourcesanspro-bold-webfont.eot#iefix") format("embedded-opentype");}
@font-face{font-family:"Source Sans Pro";font-style:italic;font-weight:700;src:url("../styles/fonts/sourcesanspro-boldit.otf") format("opentype"),url("../styles/fonts/sourcesanspro-boldit-webfont.ttf") format("truetype"),url("../styles/fonts/sourcesanspro-boldit-webfont.woff") format("woff"),url("../styles/fonts/sourcesanspro-boldit-webfont.woff2") format("woff2"),url("https://www.uscis.gov/profiles/uscisd8_gov/themes/custom/uscis_design/css/font/sourcesanspro-boldit-webfont.eot"),url("../styles/fonts/sourcesanspro-boldit-webfont.eot#iefix") format("embedded-opentype");}
